
body {
    background-body {
        background-color: white;
        overflow: hidden;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh; /* Set minimum height to 100% of viewport height */
        background-image: url('../static/poke_back.png');/* Add your background image URL here */
        background-size: cover;
        background-position: center;
    }
    
    /* Additional CSS for the centered welcome message */
    .welcome {
        color: white;
        font-size: 2em;
        padding: 5px;
        text-align: center; /* Center the text horizontally */
    }
    
    /* CSS for the footer */
    footer {
        background-color: rgba(0, 0, 0, 0.5); /* Add background color and adjust transparency */
        color: white;
        text-align: center; /* Center the text horizontally */
    }
     
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow: hidden;
}

.welcome {
    
    color: white;
    width: 50%; 
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
    font-size: 2em;
    padding: 5px; 
    margin-top: -90px;
}
