{% extends 'base.html' %}

{% block content %}
    <h1>Battle Pokémon</h1>

    <main>
        <section class="characters">
            {% for user_data in user_pokemon_data %}
                {% if user_data['username'] != current_user.username %}
                    <div class="user-container">
                        <div class="row">
                            <h2>{{ user_data['username'] }}</h2>
                        </div>
                        <div class="row">
                            {% for pokemon_info in user_data['pokemon'] %}
                                <div class="col-md-2">
                                    <div class="pokemon">
                                        <img src="{{ pokemon_info['sprite_url'] }}" alt="{{ pokemon_info['name'] }}" class="pokemon-image">
                                        <p>{{ pokemon_info['name'] }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <form method="POST" action="{{ url_for('battle_result') }}">
                            <input type="hidden" name="opponent_username" value="{{ user_data['username'] }}">
                            <button type="submit" class="battle-all-button btn btn-primary">Battle All</button>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </section>

        <section class="stadium">
            <!-- This section will display Pokémon details, stats, and battle outcome for the selected battle -->
        </section>

        <ul class="attack-list"></ul>
    </main>
{% endblock %}
