{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Pokemon Info</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="pokemon">Enter a Pokemon/ Random Number:</label>
        {{ form.pokemon(class="form-control form-control-sm", placeholder="Pokemon Name or ID") }}
    </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  {% if error_message %}
    <p class="text-danger">{{ error_message }}</p>
  {% endif %}
  
  {% if poke_info %}
    <div class="card">
      <div class="card__image-container">
        <img src="{{ poke_info.sprite_frontdefault }}" alt="{{ poke_info.name }}" class="card__image">
      </div>
      <div class="card__caption">
        <span class="card__type card__type--{{ poke_info.type }}">{{ poke_info.type }}</span>
        <h2 class="card__name">{{ poke_info.name }}</h2>
        <div class="card__abilities">
          <div class="card__ability">
            <span class="card__label">Ability 1:</span>
            {{ poke_info.ability1_name }}
          </div>
          <div class="card__ability">
            <span class="card__label">Ability 2:</span>
            {{ poke_info.ability2_name }}
          </div>
        </div>
        <table class="card__stats">
          <tr>
            <th>Base Experience:</th>
            <td>{{ poke_info.base_experience }}</td>
          </tr>
          <tr>
            <th>Attack Stat:</th>
            <td>{{ poke_info.attack_stat }}</td>
          </tr>
          <tr>
            <th>HP Stat:</th>
            <td>{{ poke_info.hp_stat }}</td>
          </tr>
          <tr>
            <th>Defense Stat:</th>
            <td>{{ poke_info.defense_stat }}</td>
          </tr>
        </table>
      </div>
    </div>
  {% endif %}
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='pokedex.css') }}">
{% endblock %}
